.blockone{
    background-color: #FEF9FC;
    padding-bottom: 5%;
    font-family: "Roboto", sans-serif;
    .blockone__text{
        font-size: 2.3vh;
        letter-spacing: 3px;
        padding-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }
    .blockone__imgs{
        text-align: center;
    }
}